{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Years worked</th>
                <th scope="col">Salary brutto</th>
            </tr>
        </thead>
        <tbody>
            {% for salary in object_list %}
                <tr>
                    <th scope="row">{{ salary.years }}</th>
                    <th>{{ salary.salary }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>  
{% endblock content %}